version: "2"
services:
  guess_num:
    build: ./
    cap_add:
      - SYS_TIME
      - SYS_NICE
    ports:
      - "10006:80"
    networks:
      guessNumNetWork:
        ipv4_address: 172.24.0.10

  # redis服务器  ok 内网测调过
  redis:
    image: redis:6.2.14
    container_name: redis
    volumes:
      - "./redis/data:/data"
      - "./redis/redis.conf:/etc/redis/redis.conf"
    # ports:
    #   - "6379:6379"
    networks:
        guessNumNetWork:
          ipv4_address: 172.24.0.11
    command: ["redis-server","/etc/redis/redis.conf"]

networks:
  guessNumNetWork:
    driver: bridge
    ipam:
      config:
        - subnet: 172.24.0.0/24